<% include partials/_header %>
<form action="/login" method="POST">
  <div class="input-group" style="position: absolute; width: 40%; top: 20%; left: 30%;">
    <input type="text" id="user" name="user" class="form-control" placeholder="user" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Login</button>
    </div>
  </div>
</form>
<% include partials/_footer %>
