<% include partials/_header %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
<% include partials/_footer %>