<% include partials/_header %>

<div id="div-title-login-register">
  <h1 id="register" >Register a New Account</h1>
</div>

<form method="POST" action="/register">
  <!-- email input -->
  <div id="email-input" class="input-group" >
    <div id="" class="input-group-prepend">
      <button id="button-email-password" class="btn btn-success" type="button" >Email</button>
    </div>
    <input id="" type="email" name="email" id="email" class="form-control"  aria-label="" aria-describedby="basic-addon1">
  </div>

  <!-- password input  -->
  <div id="password-input" class="input-group">
    <div  class="input-group-prepend">
      <button id="button-email-password" class="btn btn-success" type="button" >Password</button>
    </div>
    <input id="" type="password" name="password" class="form-control" id="password"  aria-label=""
      aria-describedby="basic-addon1">
  </div>

  <!-- submit button  -->
  <div class="input-group-append">
    <button id="submit" class="btn btn-primary" type="submit" >Submit</button>
  </div>
</form>
<div id="background-register">
    Register
  </div>
<% include partials/_footer %>
