<% include partials/_header %>
<div id="div-title-login-register">
  <a id="login">Login</a>  
</div>

<form action="/login" method="POST">  
  <div id="email-input" class="input-group" >
    <input type="email" id="user" name="user" class="form-control" autocomplete="off" placeholder="Email" aria-label=""
      aria-describedby="basic-addon1">
  </div>
  <div id="password-input" class="input-group">
    <input type="password" id="password" name="password" class="form-control" autocomplete="off" placeholder="password"
      aria-label="" aria-describedby="basic-addon1">
  </div>
  <div id="login-button" class="input-group-append">
    <button id="submit" class="btn btn-success" type="submit" >Login</button>
  </div>
</form>
<div id="background-login">
  Login
</div>
<% include partials/_footer %>
