<% include partials/_header %>

<form action="/urls" method="POST" style="margin:150px;">
  <div style="position: absolute; width: 40%; top: 20%; left: 30%;">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>

<% include partials/_footer %>