<% include partials/_header %>
<form action="/login" method="POST">
  <div class="input-group" style="position: absolute; width: 40%; top: 20%; left: 30%;">
    <input type="email" id="user" name="user" class="form-control" autocomplete="off" placeholder="Email" aria-label=""
      aria-describedby="basic-addon1">
  </div>
  <div class="input-group" style="position: absolute; width: 40%; top: 30%; left: 30%;">
    <input type="password" id="password" name="password" class="form-control" autocomplete="off" placeholder="password"
      aria-label="" aria-describedby="basic-addon1">
  </div>
  <div class="input-group-append">
    <button class="btn btn-success" type="submit" style="position: absolute; width: 20%; margin-left: 40%; margin-right: 40%; top: 40%;">Login</button>
  </div>
</form>
<% include partials/_footer %>
